$colors: (
    primary: #FDBF00,
    secondary: #FF9100,
    accent: #0A6D8D,
    accent-var: #094357,

    dark: #272525,
);

$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
);